/* Styles for the Reset Password Page */
body {
  color: var(--white-color);
  background-image: url("index.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000;
}

.reset-password {
    display: flex;
    flex-direction: column;
}


  .login__box select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.288);
    color: #000000;
    cursor: pointer;
    appearance: none; /* Removes default dropdown arrow */
  }
  
  .login__box select:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .login__box select:invalid {
    color: #999; /* Light grey color for placeholder */
  }